{% extends "base.html" %}

{% block title %}
		<title> 设置系部 - Ace 后台管理系统</title>
{% endblock %}


{% block menu %}
	{% include 'menu.html' %}
{% endblock%}


{% block content %}	
	<p><H5>你的学校一共设置了以下这些系部：</H5></p>
	<table id="depart-table" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="center">序号</th>
				<th class="center">系部名字</th>
			</tr>
		</thead>
		<tbody>
			{% for dpline in object_list %}
			<tr>
				<td class="center">{{ dpline.id }}</td>
				<td class="center">{{ dpline.depart_name }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock%}

{% block scripts %}
	{% include 'scripts.html' %}
{% endblock%}

